* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 100px;
}

.container {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    /* 03. Shadow - Tooltip */
    /* box-shadow: 0px 5px 10px 0px rgba(64, 64, 64, 0.15); */
    max-width: 400px;
}

.content {
    position: relative;
    display: flex;
    align-items: flex-start;
    border: 1px solid var(--shades-200, #CCC);
    background: var(--shades-white, #FFF);

}

.content::before,
.content {
    box-shadow: 0px 5px 10px 0px rgba(64, 64, 64, 0.15);
}

.content::after {
    background-color: white;
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    z-index: 1;

}

.content>* {
    z-index: 2;
}

.textbox {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
}

p {
    color: var(--shades-700, #4D4D4D);

    /* Content styles/P1 */
    font-family: Proxima Nova;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.spacing {
    width: 16px;
    height: 16px;
}

.closebutton {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -4px;
    top: -4px;
    cursor: pointer;
}

.closebutton>svg {
    width: 16px;
    height: 16px;
}

.arrowcontainer {
    display: flex;
    height: 7.7px;
    padding: 0px 12px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.arrow {
    display: flex;
    position: absolute;
    bottom: 2.31px;
    width: 11.31px;
    height: 11.31px;
    transform: rotate(135deg);
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-top: 1px solid var(--shades-200, #CCC);
    border-right: 1px solid var(--shades-200, #CCC);
    box-shadow: 0px 5px 10px 0px rgba(64, 64, 64, 0.15);
    background: var(--shades-white, #FFF);
}